.brandNav{
    color:white;
    font-size:23px;
    font-family: 'Rock Salt', cursive;
    padding-right:15px;
    padding-left:15px;
}
.brandNav:hover{
    background-color: #004080;
    text-decoration:none;
    color:white;
}
.navbar-header{
    padding-top: 6px;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: 'Nova Flat', cursive;
    font-size:16px;
}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: lightgrey;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse {
    background-color: tan;
    border-color: white;
}
.form-control.text-box.single-line {
    width:1000px;
}
.text-box{
    max-width:90%;
}
.jumbotron{
    background-color: white;
}
.jumbotron h1{
    font-family: 'Rock Salt', cursive;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Heebo', sans-serif;
    background-color: beige;
    
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}